# macOS
.DS_Store

others/

# Env
env/
*.env*
!sample.env*
*.lock

# Pack
*.zip
*.tar.*

# Vim
tags

# Documentation Doxygen
doc/**
!doc/Doxyfile

# Documentation Latex
**out/
*.dvi
*.log
*.blg
*.bbl
*.toc
*.aux
*.out
*.lof
*.ptc
*.bcf
*.eps
*.pdf
!**/zadani.pdf
*.bak0

# IDE
**.idea/
**.vscode/

# Caches
**.cache**

# Python
**.pytest_cache**
**__pycache__**
*.egg-info/
**venv**/
**.ipynb_checkpoints**

# Logs
logs/

# Images
*.jpg
*.jpeg
*.png

# Data
**datasets/
**dataset/
**data/
*.csv

# Models
**trained_models**/
**tensorboard_log/
**trained_models/
**train_model**/
**result_agent**/
**results**/
**result**/
